<article class="wrapper grid-container py-12" id="existing-customer">
  <div class="col-span-full md:col-start-5 md:col-span-4">
    <h1 class="font-serif text-h4 md:text-h3 text-center items-center"> RADIUS Profile: <%= @profile[:group_name] %><br>
      <span class ="text-blue-600 text-sm"> Enter  details</span> </h1>
  </div>
  <div>
    <% if @profile %>
      <table>
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Operation</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <% @profile[:attributes].each do |attr| %>
            <tr>
              <td><%= attr[:attribute] %></td>
              <td><%= attr[:op] %></td>
              <td><%= attr[:value] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to "Back to All Profiles", radprofile_index_path %>
      <%= link_to "Edit Profile", edit_radprofile_path %> <%# You'll implement edit later %>

    <% else %>
      <p>Profile not found.</p>
    <% end %>
  </div>
</article>