<!DOCTYPE html>
<html lang="en" class ="h-full dark:bg-gray-900 text-gray-900">
  <head>
    <title><%= content_for(:title) || "Radius" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/base-station-fill.png" type="image/png">
    <link rel="icon" href="/base-station-fill.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/base-station-fill_240px.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "flowbite", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <body  data-controller="turbo-stream-actions">
    <div class="flex flex-col mb-3 overflow-y-auto ">
      <header class=" px-2 py-3 ">
        <%= render "shared/navbar" %>
        <div id="flash" class="absolute right-4 z-40 flex flex-col items-end">
          <%= render "shared/flash" %>
        </div>
      </header>
    </div>
    <main class=" flex flex-col relative p-4">
      <%= yield %>
    </main>
  </body>
</html>
